{#
/**
 * @file
 * Template implementation for the media_remote_loom theme hook.
 *
 * Available variables:
 * - video_id: (string) The video id.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<div style="position: relative; padding-bottom: 62.5%; height: 0;">
  <iframe src="https://www.loom.com/embed/{{ video_id }}"
          width="{{ width }}"
          height="{{ height }}"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
</div>
